apiVersion: v1
kind: Service
metadata:
  name: details-nodejs
  labels:
    name: app-metrics-label
spec:
  selector:
    app: details-nodejs
  ports:
    - port: 80
      targetPort: 3000
      name: http
